.header
	display grid
	grid-template-columns 1fr 2fr
	grid-template-rows repeat(2, auto)
	grid-column-gap 10px

	@media screen and (max-width: $tabletMedium)
		grid-row-gap 5vh

	&__logo
		grid-column 1 / 2
		max-width 30vw

	$stamp-y = -14px
	$stamp-x = 65px

	&__stamp
		justify-self end
		transform translate($stamp-x, $stamp-y)
		max-width 47vw

		@media screen and (max-width: $tabletLarge)
			transform translate(0, $stamp-y)

	&__title
		grid-column 2 / 3
		transform translateY($stamp-y)
		max-width 100%

		@media screen and (max-width: $tabletMedium)
			grid-column 1 / 3
			justify-self center
