.box
	display flex
	flex-direction column

	&__title
		box-sizing border-box
		margin-bottom 0.41666em
		font-family PTSans
		font-weight bold
		font-size $size-xl
		color $color-primary

	&__text
		box-sizing border-box

		font-family PTSans
		font-size $size-bc
		line-height 1.438em
		color $color-light

	&_resume
		margin-top 1.8em

	&_checkboxes
		margin-top 4.063em

	&_range-slider
		margin-top 3.75em

	&_about
		margin-top 3.5em

	&_future
		margin-top 3.1em

	&_date
		margin-top 4em
